<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MaterialHandling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MaterialHandling.Properties.Settings.BatteryCheckerDB2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=BatteryCheckerDB2;User ID=sa;Password=1234" />
        <add name="MaterialHandling.Properties.Settings.MESDB2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=MESDB2;Persist Security Info=True;User ID=sa;Password=1234" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MaterialHandling.Properties.Settings>
            <setting name="MESIP" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="tenant" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckNumber" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="errorCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numberbatterycode" serializeAs="String">
                <value>12</value>
            </setting>
        </MaterialHandling.Properties.Settings>
    </userSettings>
</configuration>
